<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit user</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="name">Name of user:</label>
                        <input type="text" class="form-control" id="name" ng-model="nameOfUser">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="password">Password:</label>-->
                        <!--<input type="password" class="form-control" id="password" ng-model="password">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" ng-model="firstName">
                    </div>
                    <div class="form-group">
                        <label for="name">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" ng-model="lastName">
                    </div>
                    <div class="form-group">
                        <label for="name">Date of birth:</label>
                        <div>
                            <div style="display:inline-block; min-height:290px;">
                                <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                            </div>
                            <pre>Selected date is: {{dt | date:'fullDate' }}</pre>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="saveChanges()">Save</button>
                </form>
                <br/>

            </div>
            <br/>
        </div>
    </div>
</div>
<div class="col-md-2"></div>